<!DOCTYPE html>
<html>

  <% include templates/header %>
  <style>
      .card{
        border-radius: 20px;
      }
  </style>
  <body style="background-color: lightgray;">
    <% include templates/navbar %>
    <div class="container mt-4 mb-4">
      <div class="row d-flex justify-content-center">
        <% data.map((values,index) =>{  %>
        <div class="col-md-6 mt-4 mb-2">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="text-center"><%= data[index].judul %></h5>
                    <h6 class="text-center">Tema : <strong><%= data[index].tema %></strong></h6>
                    <hr>
                    <p class="card-text">Number sertifikat : <strong><%= data[index].nomor_sertifikat %></strong></p>
                    <p class="card-text">Member : <strong>50</strong></p>
                    <button class="btn btn-dark">Lihat sertifikat</button>
                </div>
            </div>
        </div>
        <%  }) %>
      </div>
    </div>
    <% include templates/script  %>
  </body>
  <script>
  </script>
</html>
